<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="../../ContentWeb/less/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="../../ContentWeb/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../ContentWeb/less/public.css" />
		<link rel="stylesheet" type="text/css" href="../../ContentWeb/less/article.css" />
		<script src="../../ContentWeb/js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../ContentWeb/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../ContentWeb/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../ContentWeb/js/public.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../ContentWeb/js/article.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../ContentWeb/js/less.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<nav class="nav navbar-white navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<!--在移动端的时候导航条折叠起来，三横的样式出现，点击该样式可以显示或隐藏导航条上的内容-->
					<button class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
					<a href="#" class="navbar-brand"><img src="../../ContentWeb/images/logo.png" /></a>
				</div>
				<div id="menu" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="../Home/index.html">首页</a>
						</li>
						<li>
							<a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" >关于我们<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="on"><a href="../ArticleContent/introduce.html">建纬介绍</a></li>
								<li><a href="../ArticleContent/honor.html">建纬荣誉</a></li>
								<li><a href="../ArticleContent/culture.html">建纬文化</a></li>
								<li><a href="../ArticleContent/Industry.html">行业成就</a></li>
								<li><a href="../ArticleContent/news.html">新闻动态</a></li>
							</ul>
						</li>
						<li>
							<a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" >专业领域<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="on"><a href="../ArticleContent/product.html">产品介绍</a></li>
								<li><a href="../ArticleContent/advantage.html">建纬荣誉</a></li>
							</ul>
						</li>
						<li>
							<a href="../ArticleContent/team.html">专业团队</a>
						</li>
						<li>
							<a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" >专业交流<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="on"><a href="../ArticleContent/college.html">建纬学院</a></li>
								<li><a href="../ArticleContent/professional.html">专业著作</a></li>
							</ul>
						</li>
						<li>
							<a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" >建纬招聘<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="on"><a href="../ArticleContent/aboutus.html">走进建纬</a></li>
								<li><a href="../ArticleContent/join.html">建纬职位</a></li>
							</ul>
						</li>
						<li>
							<a href="../ArticleContent/contact.html">联系我们</a>
						</li>
					</ul>
					<a href="#" class="navbar-search"><i class="iconfont">&#xe7b7;</i>
						<p><i class="iconfont">&#xe7b7;</i> 搜索</p>
					</a>
				</div>
			</div>
		</nav>
		<div class="navHeight"></div>

		<!--横幅-->
		<div class="streamer">
			<p><img src="../../ContentWeb/images/icon_article_back.jpg" /></p>
			<div class="headline">
				<span>建纬招聘</span>
				<font>E-RECRUIT</font>
			</div>
			<div class="location">
				<a href="">首页</a> /
				<a href="">建纬招聘</a>
			</div>
		</div>
		<!--横幅结束-->

		<!--内容-->
		<div class="article">
			<div class="content">
				<div class="left">
					<div class="top">
						<span>ABOUT US</span>
						<font>专业交流</font>
					</div>
					<ul>
						<li class="on"><a href="../ArticleContent/aboutus.html">走进建纬</a></li>
						<li><a href="../ArticleContent/join.html">建纬职位</a></li>
					</ul>
				</div>
				<div class="right">
					<div class="articleTitle">
						<span class="a"></span>
						<h2>建纬职位</h2>
						<span class="b"></span>
					</div>
					<div class="aboutlist">
						<div class="text">
							<h2 style="font-size: 1.2vw; font-weight: 600;">建梦远航，与你同行</h2>
							<p style="margin-top: 2vw; font-size: 1vw;">建纬深圳所成立16年，专注于地产、工程和投融资法律服务领域，本所以公司化管理模式为主，建立以事务所主任为中心的强组织管理架构，成立八大业务中心（分别为城市更新、投资并购、不动产金融、房地产综合、争议解决、建设工程、基础设施、PPP）、四大职能中心（分别为人力中心、行政中心、财务中心、战略与品牌中心），专业分工，高效运作。</p>
							<p style="margin-top: 2vw; font-size: 1vw; margin-top: 1.5vw;">人才为建纬深圳所的核心竞争力，我们明确精英人才战略路线图：</p>
							<p style="margin-top: 2vw; font-size: 1vw; margin-top: 1.5vw;">一、每年从全国顶级法学院招聘应届生，提供良好的住宿环境与有竞争力的待遇，并制定详细的培养计划书，为律所选拔与培养未来合伙人；</p>
							<p style="margin-top: 2vw; font-size: 1vw; margin-top: 1.5vw;">二、坚持物色具备丰富经验的专业人才充实律所中坚力量。</p>
							<p style="margin-top: 2vw; font-size: 1vw; margin-top: 1.5vw;">吸引最优秀的人、培养最专业的人，不断提高团队的精英化与专业化，坚持打造高精尖的法律服务团队。</p>
							<p style="margin-top: 2vw; font-size: 1vw; margin-top: 1.5vw;">建纬深圳所将重塑律师行业生态作为使命，秉承“精进专业、守正创新、共享价值、和衷共济”的核心价值观，以打造具有贵族精神的顶级律师事务所为愿景。致力于改变律师行业传统管理模式和业务发展模式，为法律精英构建最好的工作平台和发展环境，通过的极致的专业精神和专业技能为客户创造价值，努力让律师成为受社会尊重的职业。</p>
							<p style="margin-top: 2vw; font-size: 1vw; margin-top: 1.5vw;">我们正在孕育一个伟大梦想，梦想同行者，欢迎加入！</p>
						</div>
						<div class="list">
							<h2>人文活动</h2>
							<div>
								<span>体育俱乐部</span>
								<span>团建活动</span>
								<span>成长记录</span>
							</div>
						</div>
						<div class="list">
							<h2>薪酬福利</h2>
							<div>
								<span>固定工资</span>
								<span>绩效工资</span>
								<span>年终奖</span>
							</div>
						</div>
						<div class="hd">
							<h2>活动</h2>
							<div id="hdBanner">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<a href="javascript:">	
											<p><img src="../../ContentWeb/images/icon_about.jpg" /></p>
										</a>
									</div>
									<div class="swiper-slide">
										<a href="javascript:">
											<p><img src="../../ContentWeb/images/icon_about.jpg" /></p>
										</a>
									</div>
									<div class="swiper-slide">
										<a href="javascript:">
											<p><img src="../../ContentWeb/images/icon_about.jpg" /></p>
										</a>
									</div>
								</div>
								<!-- 如果需要分页器 -->
								<div class="swiper-pagination a"></div>
					
								<!-- 如果需要导航按钮 -->
								<div class="swiper-button-prev a swiper-button-white"></div>
								<div class="swiper-button-next b swiper-button-white"></div>
							</div>
							<script type="text/javascript">
								$(function(){
									var hdBanner = new Swiper('#hdBanner', {
										loop: true, // 循环模式选项
										autoplay: {
										    delay: 5000,
										    stopOnLastSlide: false,
										    disableOnInteraction: true,
									    },
										// 如果需要分页器
										pagination: {
											el: '.swiper-pagination.a',
										},
								
										// 如果需要前进后退按钮
										navigation: {
											nextEl: '.swiper-button-next.b',
											prevEl: '.swiper-button-prev.a',
										},
									});
								})
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--内容结束-->

		<!--底部-->
		<div class="footer">
			<ul>
				<li>
					<a href="">关于我们</a>
					<a href="">建纬介绍</a>
					<a href="">建纬荣誉</a>
					<a href="">行业成就</a>
					<a href="">联系我们</a>
					<a href="">新闻动态</a>
				</li>
				<li>
					<a href="">专业邻域 </a>
					<a href="">城市更新</a>
					<a href="">投资并购</a>
					<a href="">不动产金融</a>
					<a href="">建设工程</a>
					<a href="">基础设施</a>
					<a href="">PPP</a>
					<a href="">房地产综合业务</a>
					<a href="">争议解决</a>
				</li>
				<li>
					<a href="">专业团队 </a>
					<a href="">律师列表</a>
				</li>
				<li>
					<a href="">专业交流 </a>
					<a href="">建纬学院</a>
					<a href="">专业文章</a>
					<a href="">专业期刊</a>
					<a href="">专业著作</a>
					<a href="">行业周报</a>
				</li>
				<li>
					<a href="">建纬招聘</a>
					<a href="">走进建纬</a>
					<a href="">建纬职位</a>
				</li>

				<li>
					<a href="">联系我们 </a>
					<a href="">联系我们</a>
				</li>
			</ul>
			<div class="bottom">
				<div class="left">
					上海市建纬（深圳）律师事务所 版权所有 粤ICP备18033501号
				</div>
				<div class="fenxiang">
					<div class="bshare-custom">
						<div class="bsPromo bsPromo2"></div>
						<p>
							<a title="" class="bshare-weixin"></a><i class="iconfont">&#xe654;</i></p>
						<p>
							<a title="" class="bshare-sinaminiblog"></a><i class="iconfont">&#xe68a;</i></p>
					</div>
					<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=3&amp;lang=zh"></script>
					<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
				</div>
				<div class="right">
					<a href="">法律声明</a>
					<a href="">网站地图</a>
				</div>
			</div>
		</div>
		<!--底部结束-->
	</body>
	

</html>