<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="../../ContentWeb/less/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="../../ContentWeb/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet/less" type="text/css" href="../../ContentWeb/less/public.less" />
		<link rel="stylesheet/less" type="text/css" href="../../ContentWeb/less/article.less" />
	</head>

	<body>
		<nav class="nav navbar-white navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<!--在移动端的时候导航条折叠起来，三横的样式出现，点击该样式可以显示或隐藏导航条上的内容-->
					<button class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
					<a href="#" class="navbar-brand"><img src="../../ContentWeb/images/logo.png"/></a>
				</div>
				<div id="menu" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="index.html">首页</a>
						</li>
						<li>
							<a href="../ArticleContent/aboutus.html" class="dropdown-toggle" data-toggle="dropdown" >关于我们<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">企业介绍</a>
								</li>
								<li>
									<a href="#">关于我们</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="../ArticleContent/aboutus.html">专业领域</a>
						</li>
						<li>
							<a href="../ArticleContent/aboutus.html">专业团队</a>
						</li>
						<li>
							<a href="../ArticleContent/aboutus.html">专业交流</a>
						</li>
						<li>
							<a href="../ArticleContent/aboutus.html">建纬招聘</a>
						</li>
						<li>
							<a href="../ArticleContent/aboutus.html">联系我们</a>
						</li>
					</ul>
					<a href="#" class="navbar-search"><i class="iconfont">&#xe7b7;</i>
						<p><i class="iconfont">&#xe7b7;</i> 搜索</p>
					</a>
				</div>
			</div>
		</nav>
		<div class="navHeight"></div>
		
		<!--横幅-->
		<div class="streamer">
			<p><img src="../../ContentWeb/images/icon_article_back.jpg"/></p>
			<div class="headline">
				<span>专业交流</span>
				<font>RECRUIT</font>
			</div>
			<div class="location">
				<a href="">首页</a> / <a href="">专业交流</a>
			</div>
		</div>
		<!--横幅结束-->
		
		<!--内容-->
		<div class="article">
			<div class="content">
				<div class="left">
					<div class="top">
						<span>ABOUT US</span>
						<font>专业交流</font>
					</div>
					<ul>
						<li class="on"><a href="">建纬学院</a></li>
						<li><a href="">专业文章</a></li>
						<li><a href="">专业期刑</a></li>
						<li><a href="">专业著作</a></li>
						<li><a href="">行业周报</a></li>
					</ul>
				</div>
				<div class="right">
					<div class="articleTitle">
						<span class="a"></span>
						<h2>建纬学院</h2>
						<span class="b"></span>
					</div>
					<div class="collegeList">
						<ul>
							<li><a href="">
								<h2>建纬公开课∣《东莞城市更新规划管控要点解读》 </h2>
								<span>2019 / 03 / 05</span>
								<div>2019年1月6日上午，建纬公开课《东莞城市更新规划管控要点解读》在建纬（深圳）律师事务所如期进行。来自房地产开发企业、金融机构、城市规划设计机构、律师事务所等多个行业领域的专业人士参与了本次课程...</div>
							</a></li>
							<li><a href="">
								<h2>建纬公开课∣《东莞城市更新规划管控要点解读》 </h2>
								<span>2019 / 03 / 05</span>
								<div>2019年1月6日上午，建纬公开课《东莞城市更新规划管控要点解读》在建纬（深圳）律师事务所如期进行。来自房地产开发企业、金融机构、城市规划设计机构、律师事务所等多个行业领域的专业人士参与了本次课程...</div>
							</a></li>
							<li><a href="">
								<h2>建纬公开课∣《东莞城市更新规划管控要点解读》 </h2>
								<span>2019 / 03 / 05</span>
								<div>2019年1月6日上午，建纬公开课《东莞城市更新规划管控要点解读》在建纬（深圳）律师事务所如期进行。来自房地产开发企业、金融机构、城市规划设计机构、律师事务所等多个行业领域的专业人士参与了本次课程...</div>
							</a></li>
						</ul>
					</div>
					<div class="pageview" id="Pagination">
						<span class="prev-link link"><i class="iconfont">&#xe630;</i>  上一页</span>
						<span class="prev-link link">1</span>
						<a href="#" class="link">2</a>
						<a href="#" class="link next">下一页  <i class="iconfont">&#xe604;</i></a>
					</div>
				</div>
			</div>
		</div>
		<!--内容结束-->
		
		<!--底部-->
		<div class="footer">
			<ul>
				<li>
					<a href="">关于我们</a>
					<a href="">建纬介绍</a>
					<a href="">建纬荣誉</a>
					<a href="">行业成就</a>
					<a href="">联系我们</a>
					<a href="">新闻动态</a>
				</li>
				<li>
					<a href="">专业邻域 </a>
					<a href="">城市更新</a>
					<a href="">投资并购</a>
					<a href="">不动产金融</a>
					<a href="">建设工程</a>
					<a href="">基础设施</a>
					<a href="">PPP</a>
					<a href="">房地产综合业务</a>
					<a href="">争议解决</a>
				</li>
				<li>
					<a href="">专业团队 </a>
					<a href="">律师列表</a>
				</li>
				<li>
					<a href="">专业交流 </a>
					<a href="">建纬学院</a>
					<a href="">专业文章</a>
					<a href="">专业期刊</a>
					<a href="">专业著作</a>
					<a href="">行业周报</a>
				</li>
				<li>
					<a href="">建纬招聘</a>
					<a href="">走进建纬</a>
					<a href="">建纬职位</a>
				</li>
				
				<li>
					<a href="">联系我们 </a>
					<a href="">联系我们</a>
				</li>
			</ul>
			<div class="bottom">
				<div class="left">
					上海市建纬（深圳）律师事务所 版权所有 粤ICP备18033501号
				</div>
				<div class="fenxiang">
					<div class="bshare-custom">
							<div class="bsPromo bsPromo2"></div>
							<p>
								<a title="" class="bshare-weixin"></a><i class="iconfont">&#xe654;</i></p>
							<p>
								<a title="" class="bshare-sinaminiblog"></a><i class="iconfont">&#xe68a;</i></p>
						</div>
						<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=3&amp;lang=zh"></script>
						<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
				</div>
				<div class="right">
					<a href="">法律声明</a>     
					<a href="">网站地图</a>
				</div>
			</div>
		</div>
		<!--底部结束-->
	</body>
	<script src="../../ContentWeb/js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../ContentWeb/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../ContentWeb/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../ContentWeb/js/public.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../ContentWeb/js/article.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../ContentWeb/js/less.js" type="text/javascript" charset="utf-8"></script>

</html>