<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="../../ContentWeb/less/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="../../ContentWeb/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../ContentWeb/less/public.css" />
		<link rel="stylesheet" type="text/css" href="../../ContentWeb/less/article.css" />
	</head>

	<body>
		<nav class="nav navbar-white navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<!--在移动端的时候导航条折叠起来，三横的样式出现，点击该样式可以显示或隐藏导航条上的内容-->
					<button class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
					<a href="#" class="navbar-brand"><img src="../../ContentWeb/images/logo.png"/></a>
				</div>
				<div id="menu" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="../Home/index.html">首页</a>
						</li>
						<li>
							<a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" >关于我们<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="on"><a href="../ArticleContent/introduce.html">建纬介绍</a></li>
								<li><a href="../ArticleContent/honor.html">建纬荣誉</a></li>
								<li><a href="../ArticleContent/culture.html">建纬文化</a></li>
								<li><a href="../ArticleContent/Industry.html">行业成就</a></li>
								<li><a href="../ArticleContent/news.html">新闻动态</a></li>
							</ul>
						</li>
						<li>
							<a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" >专业领域<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="on"><a href="../ArticleContent/product.html">产品介绍</a></li>
								<li><a href="../ArticleContent/advantage.html">建纬荣誉</a></li>
							</ul>
						</li>
						<li>
							<a href="../ArticleContent/team.html">专业团队</a>
						</li>
						<li>
							<a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" >专业交流<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="on"><a href="../ArticleContent/college.html">建纬学院</a></li>
								<li><a href="../ArticleContent/professional.html">专业著作</a></li>
							</ul>
						</li>
						<li>
							<a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" >建纬招聘<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="on"><a href="../ArticleContent/aboutus.html">走进建纬</a></li>
								<li><a href="../ArticleContent/join.html">建纬职位</a></li>
							</ul>
						</li>
						<li>
							<a href="../ArticleContent/contact.html">联系我们</a>
						</li>
					</ul>
					<a href="#" class="navbar-search"><i class="iconfont">&#xe7b7;</i>
						<p><i class="iconfont">&#xe7b7;</i> 搜索</p>
					</a>
				</div>
			</div>
		</nav>
		<div class="navHeight"></div>
		
		<!--横幅-->
		<div class="streamer">
			<p><img src="../../ContentWeb/images/icon_article_back.jpg"/></p>
			<div class="headline">
				<span>关于我们</span>
				<font>ABOUT US</font>
			</div>
			<div class="location">
				<a href="">首页</a> / <a href="">关于我们</a>
			</div>
		</div>
		<!--横幅结束-->
		
		<!--内容-->
		<div class="article">
			<div class="content">
				<div class="left">
					<div class="top">
						<span>ABOUT US</span>
						<font>关于我们</font>
					</div>
					<ul>
						<li><a href="../ArticleContent/introduce.html">建纬介绍</a></li>
						<li><a href="../ArticleContent/honor.html">建纬荣誉</a></li>
						<li class="on"><a href="../ArticleContent/culture.html">建纬文化</a></li>
						<li><a href="../ArticleContent/Industry.html">行业成就</a></li>
						<li><a href="../ArticleContent/news.html">新闻动态</a></li>
					</ul>
				</div>
				<div class="right">
					<div class="articleTitle">
						<span class="a"></span>
						<h2>建纬文化</h2>
						<span class="b"></span>
					</div>
					<div class="culture">
						<div class="top">
							<p><img src="../../ContentWeb/images/icon_culture1.jpg"/></p>
						</div>
						<div class="bottom">
							<h2>价值观</h2>
							<div>
								<h2 style="font-size: 1.2vw;">精进专业：</h2>
								<p style="font-size: 1vw; line-height: 2; ">专业是我们的标签，是我们的根本，我们奉行追求极致的专业主义和匠人精神，在专业方面保持持续领先和不断精进。</p>
								
								<h2 style="font-size: 1.2vw; margin-top: 2vw;">共享价值：</h2>
								<p style="font-size: 1vw; line-height: 2; ">业务上，我们以客户为中心，坚持以专业智慧为客户创造价值，帮助企业实现健康可持续发展，让客户的每一分钱物超所值。团队里，我们以合伙人文化为核心，以培养发展员工成为合伙人为目标，与员工共享价值。</p>
								
								<h2 style="font-size: 1.2vw; margin-top: 2vw;">守正创新：</h2>
								<p style="font-size: 1vw; line-height: 2; ">守正：我们坚守律师的良好传统，守住作为律师的贵族精神和专业气质，正道而行，弘扬正气，传播正能量；创新：我们坚持不断通过服务创新、产品创新和管理创新成为先行者和行业标准的缔造者。</p>
								
								<h2 style="font-size: 1.2vw; margin-top: 2vw;">和衷共济：</h2>
								<p style="font-size: 1vw; line-height: 2; ">我们倡导以“和”为核心的家文化，我们是同事，更是家人，我们互相包容、相互支持、取长补短，实现团队为赢；面对变化、挫折，我们同心同行，携手并进。</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--内容结束-->
		
		<!--底部-->
		<div class="footer">
			<ul>
				<li>
					<a href="">关于我们</a>
					<a href="">建纬介绍</a>
					<a href="">建纬荣誉</a>
					<a href="">行业成就</a>
					<a href="">联系我们</a>
					<a href="">新闻动态</a>
				</li>
				<li>
					<a href="">专业邻域 </a>
					<a href="">城市更新</a>
					<a href="">投资并购</a>
					<a href="">不动产金融</a>
					<a href="">建设工程</a>
					<a href="">基础设施</a>
					<a href="">PPP</a>
					<a href="">房地产综合业务</a>
					<a href="">争议解决</a>
				</li>
				<li>
					<a href="">专业团队 </a>
					<a href="">律师列表</a>
				</li>
				<li>
					<a href="">专业交流 </a>
					<a href="">建纬学院</a>
					<a href="">专业文章</a>
					<a href="">专业期刊</a>
					<a href="">专业著作</a>
					<a href="">行业周报</a>
				</li>
				<li>
					<a href="">建纬招聘</a>
					<a href="">走进建纬</a>
					<a href="">建纬职位</a>
				</li>
				
				<li>
					<a href="">联系我们 </a>
					<a href="">联系我们</a>
				</li>
			</ul>
			<div class="bottom">
				<div class="left">
					上海市建纬（深圳）律师事务所 版权所有 粤ICP备18033501号
				</div>
				<div class="fenxiang">
					<div class="bshare-custom">
							<div class="bsPromo bsPromo2"></div>
							<p>
								<a title="" class="bshare-weixin"></a><i class="iconfont">&#xe654;</i></p>
							<p>
								<a title="" class="bshare-sinaminiblog"></a><i class="iconfont">&#xe68a;</i></p>
						</div>
						<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=3&amp;lang=zh"></script>
						<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
				</div>
				<div class="right">
					<a href="">法律声明</a>     
					<a href="">网站地图</a>
				</div>
			</div>
		</div>
		<!--底部结束-->
	</body>
	<script src="../../ContentWeb/js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../ContentWeb/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../ContentWeb/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../ContentWeb/js/public.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../ContentWeb/js/article.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../ContentWeb/js/less.js" type="text/javascript" charset="utf-8"></script>

</html>