<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="../../ContentWeb/less/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="../../ContentWeb/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet/less" type="text/css" href="../../ContentWeb/less/public.less" />
		<link rel="stylesheet/less" type="text/css" href="../../ContentWeb/less/article.less" />
	</head>

	<body>
		<nav class="nav navbar-white navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<!--在移动端的时候导航条折叠起来，三横的样式出现，点击该样式可以显示或隐藏导航条上的内容-->
					<button class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
					<a href="#" class="navbar-brand"><img src="../../ContentWeb/images/logo.png"/></a>
				</div>
				<div id="menu" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="index.html">首页</a>
						</li>
						<li>
							<a href="../ArticleContent/aboutus.html" class="dropdown-toggle" data-toggle="dropdown" >关于我们<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">企业介绍</a>
								</li>
								<li>
									<a href="#">关于我们</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="../ArticleContent/aboutus.html">专业领域</a>
						</li>
						<li>
							<a href="../ArticleContent/aboutus.html">专业团队</a>
						</li>
						<li>
							<a href="../ArticleContent/aboutus.html">专业交流</a>
						</li>
						<li>
							<a href="../ArticleContent/aboutus.html">建纬招聘</a>
						</li>
						<li>
							<a href="../ArticleContent/aboutus.html">联系我们</a>
						</li>
					</ul>
					<a href="#" class="navbar-search"><i class="iconfont">&#xe7b7;</i>
						<p><i class="iconfont">&#xe7b7;</i> 搜索</p>
					</a>
				</div>
			</div>
		</nav>
		<div class="navHeight"></div>
		
		<!--横幅-->
		<div class="streamer">
			<p><img src="../../ContentWeb/images/icon_article_back.jpg"/></p>
			<div class="headline">
				<span>专业交流</span>
				<font>RECRUIT</font>
			</div>
			<div class="location">
				<a href="">首页</a> / <a href="">专业交流</a>
			</div>
		</div>
		<!--横幅结束-->
		
		<!--内容-->
		<div class="article">
			<div class="content">
				<!--二级侧边导航栏-->
				<div class="left second">
					<div class="top">
						<span>ABOUT US</span>
						<font>专业交流</font>
					</div>
					<ul>
						<li class="on">
							<a href="javascript:">建纬学院<i class="iconfont">&#xe60e;</i></a>
							<div>
								<p><a href="">产品介绍</a></p>
								<p><a href="">典型业绩</a></p>
								<p class="on" ><a href="">优势</a></p>
							</div>
						</li>
						<li><a href="javascript:">专业文章<i class="iconfont">&#xe60e;</i></a>
							<div>
								<p><a href="">产品介绍</a></p>
								<p><a href="">典型业绩</a></p>
								<p class="on" ><a href="">优势</a></p>
							</div>
						</li>
						<li><a href="javascript:">专业期刑<i class="iconfont">&#xe60e;</i></a>
							<div>
								<p><a href="">产品介绍</a></p>
								<p><a href="">典型业绩</a></p>
								<p class="on" ><a href="">优势</a></p>
							</div>
						</li>
						<li><a href="javascript:">专业著作<i class="iconfont">&#xe60e;</i></a></li>
						<li><a href="javascript:">行业周报<i class="iconfont">&#xe60e;</i></a></li>
					</ul>
				</div>
				<div class="right">
					<div class="productText">
						<p style="line-height: 2; font-size: 1vw;">参与了《深圳市城市更新办法》、《深圳市城市更新条例》、《深圳市房地产行业管理条例》、深圳仲裁委关于房屋租赁合同裁判指导意见等相关立法活动，主编出版《城市更新改造项目法律实务和操作指引》等专著。
						<p style="line-height: 2; font-size: 1vw; margin-top: 2vw;">负责多个专项课题研究工作，包括担任全国律协办理城中村改造律师业务操作指引编制课题组组长、深圳律协办理城中村改造律师业务操作指引编制课题组组长、地铁BT模式政策及风险研究、地铁沿线物业开发模式研究、BOT模式研究等。</p>
						<p style="line-height: 2; font-size: 1vw; margin-top: 2vw;">曾公开发表《城中村改造中的土地法律问题》、《地铁沿线物业合作开发模式探讨及法律风险分析》及《在建工程抵押及执行相关法律问题》等多篇专业论文，参与《城市更新法律实务》、《军队房地产法律实务》、人民法院审理房地产案件观点集成》等多部专著的撰写。</p>
					</div>
					<div class="articleTitle">
						<span class="a"></span>
						<h2>产品介绍</h2>
						<span class="b"></span>
					</div>
					<div class="productList">
						<ul>
							<li>
								<p>项目前期可行性研判心 </p>
								<div>
									<span>尽职调查</span>
									<span>交易架构搭建与论证</span>
									<span>项目合作/收并购交易文本拟定</span>
									<span>项目交割法律服务</span>
								</div>
							</li>
							<li>
								<p>项目拓展法律服务 </p>
								<div>
									<span>尽职调查</span>
									<span>交易架构搭建与论证</span>
									<span>项目合作/收并购交易文本拟定</span>
									<span>项目交割法律服务</span>
								</div>
							</li>
							<li>
								<p>集体用地平台交易法律服务 </p>
								<div>
									<span>尽职调查</span>
									<span>交易架构搭建与论证</span>
									<span>项目合作/收并购交易文本拟定</span>
									<span>项目交割法律服务</span>
								</div>
							</li>
							<li>
								<p>项目搬迁补偿安置全过程法律服务 </p>
								<div>
									<span>尽职调查</span>
									<span>交易架构搭建与论证</span>
									<span>项目合作/收并购交易文本拟定</span>
									<span>项目交割法律服务</span>
								</div>
							</li>
							<li>
								<p>项目选房、回迁安置法律服务    </p>
								<div>
									<span>尽职调查</span>
									<span>交易架构搭建与论证</span>
									<span>项目合作/收并购交易文本拟定</span>
									<span>项目交割法律服务</span>
								</div>
							</li>
							<li>
								<p>项目融资法律支持   </p>
								<div>
									<span>尽职调查</span>
									<span>交易架构搭建与论证</span>
									<span>项目合作/收并购交易文本拟定</span>
									<span>项目交割法律服务</span>
								</div>
							</li>
							<li>
								<p>项目选房、回迁安置法律服务    </p>
								<div>
									<span>尽职调查</span>
									<span>交易架构搭建与论证</span>
									<span>项目合作/收并购交易文本拟定</span>
									<span>项目交割法律服务</span>
								</div>
							</li>
							<li>
								<p>项目融资法律支持   </p>
								<div>
									<span>尽职调查</span>
									<span>交易架构搭建与论证</span>
									<span>项目合作/收并购交易文本拟定</span>
									<span>项目交割法律服务</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--内容结束-->
		
		<!--底部-->
		<div class="footer">
			<ul>
				<li>
					<a href="">关于我们</a>
					<a href="">建纬介绍</a>
					<a href="">建纬荣誉</a>
					<a href="">行业成就</a>
					<a href="">联系我们</a>
					<a href="">新闻动态</a>
				</li>
				<li>
					<a href="">专业邻域 </a>
					<a href="">城市更新</a>
					<a href="">投资并购</a>
					<a href="">不动产金融</a>
					<a href="">建设工程</a>
					<a href="">基础设施</a>
					<a href="">PPP</a>
					<a href="">房地产综合业务</a>
					<a href="">争议解决</a>
				</li>
				<li>
					<a href="">专业团队 </a>
					<a href="">律师列表</a>
				</li>
				<li>
					<a href="">专业交流 </a>
					<a href="">建纬学院</a>
					<a href="">专业文章</a>
					<a href="">专业期刊</a>
					<a href="">专业著作</a>
					<a href="">行业周报</a>
				</li>
				<li>
					<a href="">建纬招聘</a>
					<a href="">走进建纬</a>
					<a href="">建纬职位</a>
				</li>
				
				<li>
					<a href="">联系我们 </a>
					<a href="">联系我们</a>
				</li>
			</ul>
			<div class="bottom">
				<div class="left">
					上海市建纬（深圳）律师事务所 版权所有 粤ICP备18033501号
				</div>
				<div class="fenxiang">
					<div class="bshare-custom">
							<div class="bsPromo bsPromo2"></div>
							<p>
								<a title="" class="bshare-weixin"></a><i class="iconfont">&#xe654;</i></p>
							<p>
								<a title="" class="bshare-sinaminiblog"></a><i class="iconfont">&#xe68a;</i></p>
						</div>
						<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=3&amp;lang=zh"></script>
						<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
				</div>
				<div class="right">
					<a href="">法律声明</a>     
					<a href="">网站地图</a>
				</div>
			</div>
		</div>
		<!--底部结束-->
	</body>
	<script src="../../ContentWeb/js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../ContentWeb/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../ContentWeb/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../ContentWeb/js/public.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../ContentWeb/js/article.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../ContentWeb/js/less.js" type="text/javascript" charset="utf-8"></script>

</html>