<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="../../ContentWeb/less/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="../../ContentWeb/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../ContentWeb/less/public.css" />
		<link rel="stylesheet" type="text/css" href="../../ContentWeb/less/article.css" />
	</head>

	<body>
		<nav class="nav navbar-white navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<!--在移动端的时候导航条折叠起来，三横的样式出现，点击该样式可以显示或隐藏导航条上的内容-->
					<button class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
					<a href="#" class="navbar-brand"><img src="../../ContentWeb/images/logo.png" /></a>
				</div>
				<div id="menu" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="../Home/index.html">首页</a>
						</li>
						<li>
							<a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" >关于我们<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="on"><a href="../ArticleContent/introduce.html">建纬介绍</a></li>
								<li><a href="../ArticleContent/honor.html">建纬荣誉</a></li>
								<li><a href="../ArticleContent/culture.html">建纬文化</a></li>
								<li><a href="../ArticleContent/Industry.html">行业成就</a></li>
								<li><a href="../ArticleContent/news.html">新闻动态</a></li>
							</ul>
						</li>
						<li>
							<a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" >专业领域<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="on"><a href="../ArticleContent/product.html">产品介绍</a></li>
								<li><a href="../ArticleContent/advantage.html">建纬荣誉</a></li>
							</ul>
						</li>
						<li>
							<a href="../ArticleContent/team.html">专业团队</a>
						</li>
						<li>
							<a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" >专业交流<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="on"><a href="../ArticleContent/college.html">建纬学院</a></li>
								<li><a href="../ArticleContent/professional.html">专业著作</a></li>
							</ul>
						</li>
						<li>
							<a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" >建纬招聘<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="on"><a href="../ArticleContent/aboutus.html">走进建纬</a></li>
								<li><a href="../ArticleContent/join.html">建纬职位</a></li>
							</ul>
						</li>
						<li>
							<a href="../ArticleContent/contact.html">联系我们</a>
						</li>
					</ul>
					<a href="#" class="navbar-search"><i class="iconfont">&#xe7b7;</i>
						<p><i class="iconfont">&#xe7b7;</i> 搜索</p>
					</a>
				</div>
			</div>
		</nav>
		<div class="navHeight"></div>

		<!--横幅-->
		<div class="streamer">
			<p><img src="../../ContentWeb/images/icon_article_back.jpg" /></p>
			<div class="headline">
				<span>建纬招聘</span>
				<font>E-RECRUIT</font>
			</div>
			<div class="location">
				<a href="">首页</a> /
				<a href="">建纬招聘</a>
			</div>
		</div>
		<!--横幅结束-->

		<!--内容-->
		<div class="article">
			<div class="content">
				<div class="left teamLeft">
					<div class="teams">
						<p><img src="../../ContentWeb/images/teamList.jpg"/></p>
						<div class="tle">
							<h2>贺倩明</h2>
							<span>主任律师、高级合伙人</span>
						</div>
						<div class="list">
							<p>
								<span><i class="iconfont">&#xe6af;</i>邮箱</span>
								<font>heqianming@jianweishenzhen.com</font>
							</p>
							<p>
								<span><i class="iconfont">&#xe668;</i>电话</span>
								<font>0755-22661566</font>
							</p>
						</div>
						<div class="code">
							<p><img src="../../ContentWeb/images/weixin.jpg"/></p>
							<h2>扫描二维码下载简历</h2>
						</div>
						<div class="down">
							<a href="" download="" ><i class="iconfont">&#xe623;</i>简历PDF下载</a>
						</div>
						<span class="btns"><i class="iconfont">&#xe604;</i><i class="iconfont">&#xe630;</i></span>
					</div>
				</div>
				<div class="right">
					<div class="teamContent">
						<ul>
								<li>
									<h2>教育背景</h2>
									<div>
										<p style="font-size: 1vw; line-height: 2;">中国政法大学法学博士<br/>
										香港中文大学EMBA （高级管理人员工商管理硕士）<br/>
										北京大学法律硕士</p>
									</div>
								</li>
								<li>
									<h2>教育背景</h2>
									<div>
										<p style="font-size: 1vw; line-height: 2;">房地产<br/>
										投融资<br/>
										争议解决</p>
									</div>
								</li>
								<li>
									<h2>执业简介</h2>
									<div>
										<p style="font-size: 1vw; line-height: 2; text-indent: 2em;">贺倩明律师自2005年担任建纬（深圳）律师事务所主任至今，一直专注地产领域专业法律服务。在执业过程中牵头负责多个有影响力的地产并购和融资交易架构设计项目，出色地协助客户成功完成多起项目交易；同时，为万科股份、恒大地产、华润置地、中粮地产、平安不动产等多家知名房企提供专项顾问服务，主持地产领域多个重大前沿课题研究，发表了数篇有影响力的专业论文。</p>
										<p style="font-size: 1vw; line-height: 2; text-indent: 2em;">除了地产融资并购和风险管理具备专业优势之外，贺律师在争议解决方面也具备丰富的经验，作为主要出庭律师，承办了超过500宗房地产、建设工程等领域诉讼、仲裁案件；同时，贺倩明律师还作为资深仲裁员在多家仲裁机构任职，并作为首裁和边裁处理多起疑难复杂的案件。</p>
										<p style="font-size: 1vw; line-height: 2; text-indent: 2em;">贺律师曾在房地产企业出任首席法律顾问，还先后兼任中国人民大学律师学院兼职教授、深圳市人大常委会法制工作委会员立法专监等职务。</p>
									</div>
								</li>
								<li>
									<h2>荣誉奖项</h2>
									<div>
										<p style="font-size: 1vw; line-height: 2;">被广东省律师协会评为“2012-2016年度全省优秀律师”<br/>
										被深圳司法局评为“深圳市优秀青年律师”<br/>
										被深圳市律师协会评为“深圳市律师协会优秀青年律师”<br/>
										被《建筑时报》评为“改革开放三十周年建筑领域法制先锋人物”</p>
									</div>
								</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--内容结束-->

		<!--底部-->
		<div class="footer">
			<ul>
				<li>
					<a href="">关于我们</a>
					<a href="">建纬介绍</a>
					<a href="">建纬荣誉</a>
					<a href="">行业成就</a>
					<a href="">联系我们</a>
					<a href="">新闻动态</a>
				</li>
				<li>
					<a href="">专业邻域 </a>
					<a href="">城市更新</a>
					<a href="">投资并购</a>
					<a href="">不动产金融</a>
					<a href="">建设工程</a>
					<a href="">基础设施</a>
					<a href="">PPP</a>
					<a href="">房地产综合业务</a>
					<a href="">争议解决</a>
				</li>
				<li>
					<a href="">专业团队 </a>
					<a href="">律师列表</a>
				</li>
				<li>
					<a href="">专业交流 </a>
					<a href="">建纬学院</a>
					<a href="">专业文章</a>
					<a href="">专业期刊</a>
					<a href="">专业著作</a>
					<a href="">行业周报</a>
				</li>
				<li>
					<a href="">建纬招聘</a>
					<a href="">走进建纬</a>
					<a href="">建纬职位</a>
				</li>

				<li>
					<a href="">联系我们 </a>
					<a href="">联系我们</a>
				</li>
			</ul>
			<div class="bottom">
				<div class="left">
					上海市建纬（深圳）律师事务所 版权所有 粤ICP备18033501号
				</div>
				<div class="fenxiang">
					<div class="bshare-custom">
						<div class="bsPromo bsPromo2"></div>
						<p>
							<a title="" class="bshare-weixin"></a><i class="iconfont">&#xe654;</i></p>
						<p>
							<a title="" class="bshare-sinaminiblog"></a><i class="iconfont">&#xe68a;</i></p>
					</div>
					<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=3&amp;lang=zh"></script>
					<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
				</div>
				<div class="right">
					<a href="">法律声明</a>
					<a href="">网站地图</a>
				</div>
			</div>
		</div>
		<!--底部结束-->
	</body>
	<script src="../../ContentWeb/js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../ContentWeb/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../ContentWeb/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../ContentWeb/js/public.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../ContentWeb/js/article.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../ContentWeb/js/less.js" type="text/javascript" charset="utf-8"></script>

</html>