<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../../ContentWeb/less/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="../../ContentWeb/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../ContentWeb/less/public.css" />
    <link rel="stylesheet" type="text/css" href="../../ContentWeb/less/article.css" />
    <script src="../../ContentWeb/js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../ContentWeb/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../ContentWeb/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../ContentWeb/js/public.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../ContentWeb/js/article.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <nav class="nav navbar-white navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!--在移动端的时候导航条折叠起来，三横的样式出现，点击该样式可以显示或隐藏导航条上的内容-->
                <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand"><img src="../../ContentWeb/images/logo.png" /></a>
            </div>
            <div id="menu" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="../Home/index.html">首页</a>
                    </li>
                    <li>
                        <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">关于我们<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="on"><a href="../ArticleContent/introduce.html">建纬介绍</a></li>
                            <li><a href="../ArticleContent/honor.html">建纬荣誉</a></li>
                            <li><a href="../ArticleContent/culture.html">建纬文化</a></li>
                            <li><a href="../ArticleContent/Industry.html">行业成就</a></li>
                            <li><a href="../ArticleContent/news.html">新闻动态</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">专业领域<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="on"><a href="../ArticleContent/product.html">产品介绍</a></li>
                            <li><a href="../ArticleContent/advantage.html">建纬荣誉</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="../ArticleContent/team.html">专业团队</a>
                    </li>
                    <li>
                        <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">专业交流<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="on"><a href="../ArticleContent/college.html">建纬学院</a></li>
                            <li><a href="../ArticleContent/professional.html">专业著作</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">建纬招聘<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="on"><a href="../ArticleContent/aboutus.html">走进建纬</a></li>
                            <li><a href="../ArticleContent/join.html">建纬职位</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="../ArticleContent/contact.html">联系我们</a>
                    </li>
                </ul>
                <a href="#" class="navbar-search"><i class="iconfont">&#xe7b7;</i>
                    <p><i class="iconfont">&#xe7b7;</i> 搜索</p>
                </a>
            </div>
        </div>
    </nav>
    <div class="navHeight"></div>

    <!--横幅-->
    <div class="streamer">
        <p><img src="../../ContentWeb/images/icon_article_back.jpg" /></p>
        <div class="headline">
            <span>专业领域</span>
            <font>RECRUIT</font>
        </div>
        <div class="location">
            <a href="">首页</a> / <a href="">专业领域</a>
        </div>
    </div>
    <!--横幅结束-->

    <!--内容-->
    <div class="article">
        <div class="content">
            <!--二级侧边导航栏-->
            <div class="left second">
                <div class="top">
                    <span>RECRUIT</span>
                    <font>专业领域</font>
                </div>
                <ul>
                    <li class="on">
                        <a href="javascript:">城市更新<i class="iconfont">&#xe60e;</i></a>
                        <div>
                            <p class="on"><a href="">产品介绍</a></p>
                            <p><a href="">典型业绩</a></p>
                            <p><a href="">优势</a></p>
                        </div>
                    </li>
                    <li><a href="javascript:">投资并购</a></li>
                    <li><a href="javascript:">不动产金融</a></li>
                    <li><a href="javascript:">争议解决</a></li>
                    <li><a href="javascript:">基础设施</a></li>
                    <li><a href="javascript:">PPP</a></li>
                    <li><a href="javascript:">建筑工程</a></li>
                    <li><a href="javascript:">房地产综合业务</a></li>
                </ul>
            </div>
            <div class="right">
                <div class="productText">
                    <p style="line-height: 2; font-size: 1vw;">
                        参与了《深圳市城市更新办法》、《深圳市城市更新条例》、《深圳市房地产行业管理条例》、深圳仲裁委关于房屋租赁合同裁判指导意见等相关立法活动，主编出版《城市更新改造项目法律实务和操作指引》等专著。
                        <p style="line-height: 2; font-size: 1vw; margin-top: 2vw;">
                            负责多个专项课题研究工作，包括担任全国律协办理城中村改造律师业务操作指引编制课题组组长、深圳律协办理城中村改造律师业务操作指引编制课题组组长、地铁BT模式政策及风险研究、地铁沿线物业开发模式研究、BOT模式研究等。
                        </p>
                        <p style="line-height: 2; font-size: 1vw; margin-top: 2vw;">
                            曾公开发表《城中村改造中的土地法律问题》、《地铁沿线物业合作开发模式探讨及法律风险分析》及《在建工程抵押及执行相关法律问题》等多篇专业论文，参与《城市更新法律实务》、《军队房地产法律实务》、人民法院审理房地产案件观点集成》等多部专著的撰写。
                        </p>
                </div>
                <div class="articleTitle">
                    <span class="a"></span>
                    <h2>典型业绩</h2>
                    <span class="b"></span>
                </div>
                <div class="typicalPerformance">
                    <div class="list">
                        <div class="top">徐州粤海水务有限责任公司2019年度第一期资产支持票据项目</div>
                        <div class="bottom">
                            <span class="triangle"><img src="../../ContentWeb/images/icon_triangle.png"></span>
                            <div>
                                <p>该ABN产品为全国首单供水资产支持票据产品，其发行规模为17.32亿元，基础资产为发起机构对徐州市水务局享有的在特定收款期间的原水供应服务费之收费收益权，招商银行作为牵头主承销商。
                                </p>
                                <p>作为本项目的法律顾问，建纬（深圳）律师事务所提供了包括底层资产尽调、交易架构搭建、交易文件起草等全过程法律服务。该项目是建纬深圳在PPP资产证券化这一创新业务领域取得的又一成果。
                                </p>
                                <p>徐州粤海水务有限责任公司（简称徐州水司）系由股东徐州市新水国有资产经营有限责任公司和广东粤海控股集团有限公司于2016年4月20日出资组建。截止2017年12月底，徐州水司实收资本72000.00万元，广东粤海控股集团有限公司占股49%，徐州市新水国有资产经营有限责任公司占股26%，江苏毅达汇景资产管理公司占股25%。徐州水司是骆马湖原水PPP项目公司，拥有骆马湖原水PPP项目29.5年特许经营权，负责骆马湖及微山湖一、二期原水管线工程的运营管理，包含四个泵站及225公里的原水管线，供水规模120万吨/日，为包括徐州市区以及新沂市、邳州市和睢宁县约328万人提供原水供应服务。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="top">某股权投资基金投资深圳长租公寓项目</div>
                        <div class="bottom">
                            <span class="triangle"><img src="../../ContentWeb/images/icon_triangle.png"></span>
                            <div>
                                <p>受某股权投资基金管理人委托，对其拟投资深圳某长租公寓项目进行尽职调查以及交易模式论证。</p>
                                <p>本次尽职调查工作范围一方面包括对长租公寓资产项目公司、长租公寓运营公司及其各自股东工商情况、股权情况、治理结构、设立与变更、主要证照、财务情况、公司治理、公司重大资产、公司债权债务、税务、劳动人事、诉讼仲裁及行政处罚等情况进行调查；另一方面，还对目标项目原始产权及规划情况、项目物业权属情况、项目获取情况、目标项目综合整治进度、目标项目用作长租公寓经营合法合规性、目标项目装修施工情况、目标项目现行租赁情况及清租情况等进行调查。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="top">某集团收购一家融资担保公司项目</div>
                        <div class="bottom">
                            <span class="triangle"><img src="../../ContentWeb/images/icon_triangle.png"></span>
                            <div>
                                <p>受某集团委托，协助其收购另一国资集团名下持有的融资担保公司股权。</p>
                                <p>本次法律服务中尽调工作包括对目标公司主体资格、历史沿革、股东情况、注册资本、对外业务开展、财务状况、资产、负债、涉诉、被政府相关部门处罚等相关情况进行调查，同时对目标公司所涉的融资担保业务材料、融资担保审批文件等相关业务资料进行核查，走访相关政府主管部门，对项目公司的融资担保业务的合法性、合规性以及本次股权交易的可实施路径进行调查。
                                </p>
                                <p>其它法律服务工作包括交易架构设计及合同文本起草等。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function(){
                        $('.typicalPerformance .list .top').click(function(){
                            if($(this).parent().find('.bottom').css('display')=='none'){
                                $(this).parent().find('.bottom').show();
                            }else{
                                $(this).parent().find('.bottom').hide();
                            }
                        })
                    })
                </script>
            </div>
        </div>
    </div>
    <!--内容结束-->

    <!--底部-->
    <div class="footer">
        <ul>
            <li>
                <a href="">关于我们</a>
                <a href="">建纬介绍</a>
                <a href="">建纬荣誉</a>
                <a href="">行业成就</a>
                <a href="">联系我们</a>
                <a href="">新闻动态</a>
            </li>
            <li>
                <a href="">专业邻域 </a>
                <a href="">城市更新</a>
                <a href="">投资并购</a>
                <a href="">不动产金融</a>
                <a href="">建设工程</a>
                <a href="">基础设施</a>
                <a href="">PPP</a>
                <a href="">房地产综合业务</a>
                <a href="">争议解决</a>
            </li>
            <li>
                <a href="">专业团队 </a>
                <a href="">律师列表</a>
            </li>
            <li>
                <a href="">专业交流 </a>
                <a href="">建纬学院</a>
                <a href="">专业文章</a>
                <a href="">专业期刊</a>
                <a href="">专业著作</a>
                <a href="">行业周报</a>
            </li>
            <li>
                <a href="">建纬招聘</a>
                <a href="">走进建纬</a>
                <a href="">建纬职位</a>
            </li>

            <li>
                <a href="">联系我们 </a>
                <a href="">联系我们</a>
            </li>
        </ul>
        <div class="bottom">
            <div class="left">
                上海市建纬（深圳）律师事务所 版权所有 粤ICP备18033501号
            </div>
            <div class="fenxiang">
                <div class="bshare-custom">
                    <div class="bsPromo bsPromo2"></div>
                    <p>
                        <a title="" class="bshare-weixin"></a><i class="iconfont">&#xe654;</i></p>
                    <p>
                        <a title="" class="bshare-sinaminiblog"></a><i class="iconfont">&#xe68a;</i></p>
                </div>
                <script type="text/javascript" charset="utf-8"
                    src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=3&amp;lang=zh"></script>
                <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
            </div>
            <div class="right">
                <a href="">法律声明</a>
                <a href="">网站地图</a>
            </div>
        </div>
    </div>
    <!--底部结束-->
</body>


</html>